body{
    margin-top: 0px;
}

#mesaj{
    display:none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
    font-size: 20px;
    padding: 20px;
    color: #fff;
    background: #000;
}

#toggle{   
    width: 150px;
    margin-top: 20px;   
}
.resim{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 250px;
    border-style: dotted;
    
}
